---
ip: "192.168.10.10"
memory: 1024
cpus: 1
hostname: gamespoint.local
name: gamespoint
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: ./
      to: "/home/vagrant/gamespoint"
      type: "nfs"
      # Vagrant NFS issue fix: https://github.com/symfony/symfony/issues/17845
    - map: ./var/
      to: "/home/vagrant/gamespoint/var"

sites:
    - map: gamespoint.local
      to: "/home/vagrant/gamespoint/web"
      type: symfony

databases:
    - gamespoint
